.App {
  text-align: center;
}

.search-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.search-wrapper {
  margin-top: 30px;
}

.search-items {
  max-height: 400px;
  overflow: auto;
  border: 1px solid #ccc;
}
